.errors {
  color: red;
}

.form-group > select {
  width: 100%;
  padding: 0.5rem 1rem;
  border-radius: 15px;
  border: none;
}

.main-add-hotel {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  background-color: rgba(0 0 0 / 0.8);
}

.main-add-hotel > h1 {
  margin: 10px 0;
}

.main-add-hotel > form {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.3rem;
  box-shadow: 0 0 4px rgba(255 255 255 / 0.8);
  border-radius: 10px;
}
.form-group {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
}
.form-group > input {
  width: 100%;
  padding: 0.5rem 1rem;
  border-radius: 15px;
}

.form-group > label {
  align-self: flex-start;
  margin-bottom: 0.2rem;
}

.form-group > input[type='submit'] {
  background-color: green;
  color: white;
  font-weight: 600;
  width: 20%;
  text-align: center;
  border: none;
  cursor: pointer;
}

.btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.btn > button {
  background-color: red;
  color: white;
  font-weight: 600;
  margin-left: 0.3rem;
  padding: 0.4rem 1rem;
  border-radius: 3rem;
  cursor: pointer;
}
