.details-hotel {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

.container-one {
  width: 100%;
  overflow: hidden;
}
.container-one > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.container-two {
  width: 100%;
  text-align: right;
}

.container-two > h2 {
  font-size: 2rem;
}

.list-rooms {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 10px;
  padding: 1rem;
}

.rooms-card {
  border: 1px solid #ccc;
  padding: 0.3rem;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.rooms-card > p {
  font-weight: 700;
}

.button-reserva {
  background-color: darkgreen;
  padding: 0.5rem;
  border-radius: 0.8rem;
  cursor: pointer;
}

.button-group {
  width: 100%;
  display: flex;
  justify-content: end;
}

.button-main {
  width: 100%;
  display: flex;
  justify-content: center;
}
.button-main > a {
  text-decoration: none;
}

.button-main > a:hover {
  text-decoration: underline;
  color: blue;
}

.add-room {
  width: 100%;
  display: flex;
  justify-content: end;
  padding: 0.5rem;
}

.add-room > a {
  text-decoration: none;
  font-weight: 500;
  background-color: green;
  color: white;
  cursor: pointer;
  padding: 0.4rem;
  border-radius: 6px;
}

.btn-hotels {
  margin-top: 0.5rem;
}
.btn-one,
.btn-two {
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 3rem;
  margin-right: 0.3rem;
  color: white;
  font-weight: 600;
}
.btn-one {
  background-color: orangered;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 3rem;
  margin-right: 0.3rem;
}

.btn-two {
  background-color: green;
}
