* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'roboto', arial, helvetica, sans-serif;
}

.navigation {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1rem;
  background-color: darkblue;
  color: white;
}

.navigation > h2 {
  font-weight: 900;
}

.menu-headers {
  display: flex;
}
.menu-headers > li {
  list-style: none;
  margin-left: 0.2rem;
}

.menu-headers > li > a {
  text-decoration: none;
  color: white;
  font-weight: 700;
}
.menu-headers > li > a:hover {
  color: rgb(160, 195, 241);
  cursor: pointer;
}
.banner {
  width: 100%;
  height: 400px;
  overflow: hidden;
  position: relative;
}
.banner > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.8;
}
.title-banner {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 100%;
  top: 50%;
  left: 4%;
}
.title-banner > h2,
.title-banner > p {
  z-index: 100;
  text-shadow: 0 0 10px #f0ed5b;
}
.title-banner > p {
  font-size: 1.5rem;
  font-weight: 700;
  color: brown;
}
.title-banner > h2 {
  font-size: 2rem;
  color: darkblue;
}
.list-hotels {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 10px;
  margin: 1rem;
}

.list-hotels > a {
  text-decoration: none;
  color: black;
}
.hotel-card {
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  overflow: hidden;
  padding: 0.3rem;
}
.img-container {
  width: 100%;
  height: 200px;
  overflow: hidden;
}
.img-container > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.menu-hotel {
  width: 100%;
  display: flex;
  justify-content: end;
}
.menu-hotel-items {
  display: flex;
  padding: 0.3rem;
}

.menu-hotel-items > li {
  list-style: none;
  margin-right: 0.5rem;
  padding: 0.2rem;
}
.menu-hotel-items > li:hover {
  background-color: #ccc;
  border-radius: 4px;
}
